.home {
    background-color: rgba(229, 231, 235, 0.8); /* bg-gray-100/80 */
    padding: 2rem 0; /* espacio superior e inferior */
  }
  
  .hero {
    position: relative;
    padding-top: 10rem; /* pt-40 */
  }
  
  .background-svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -10;
  }
  
  .container {
    max-width: 1300px; /* Ajusta según sea necesario */
    margin: 0 auto;
    padding: 0 2.5rem; /* px-10 */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* gap-4 */
  }
  
  .content h1 {
    font-size: 2rem; /* text-2xl */
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
  }
  
  .description {
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
  }
  
  .image-container {
    width: 50%; /* w-1/2 */
    position: relative;
  }
  
  .logo {
    position: absolute;
  }
  
  .features {
    padding: 2.5rem 0; /* pt-10 */
  }
  
  .feature-item {
    display: flex;
    width: 60%; /* w-3/5 */
    margin: 0 auto; /* centrar */
    gap: 1rem; /* gap-4 */
  }
  
  .feature-text {
    padding: 1.5rem; /* p-6 */
    flex: 1;
    background-color: #E0F7FA; /* bg-tip-divs */
    border-radius: 1.5rem; /* redondear esquinas */
  }
  
  .feature-image {
    height: 15rem; /* h-60 */
    width: 10rem; /* w-40 */
    overflow: hidden;
    border-radius: 1rem; /* rounded-xl */
    position: relative;
  }
  
  .feature-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .bg-dark-blue {
    background-color: #1E3A8A; /* dark-blue */
  }
  
  .title {
    margin-bottom: 2rem; /* mb-8 */
    font-size: 2rem; /* text-2xl */
    font-weight: bold;
    color: #94D9F0; /* text-cyan-100 */
  }
  
  .list {
    list-style-type: disc; /* list-disc */
    padding-left: 1rem; /* pl-4 */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid-cols-2 */
    gap: 1rem; /* gap-4 */
    color: white; /* text-white */
  }
  
  .footer {
    background-color: rgba(226, 232, 240, 0.8); /* bg-slate-100/80 */
  }
  
  .footer h2 {
    color: #006400; /* text-green-800 */
    font-weight: bold;
    font-size: 1.25rem; /* text-xl */
  }
  
  .footer p {
    font-size: 0.75rem; /* text-xs */
  }
  